/**
 * Header
 */

.brand {
	height: 100%;
	width: 100%;
	grid-area: brand;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.banner {
	&::before {
		content: ":)";
		display: flex;
		justify-content: center;
		align-content: center;
		width: 100%;
		height: $nav-height;
	}
}

.nav-primary {
	position: fixed;
	top: 0;
	width: 100%;
	height: $nav-height;
	display: grid;
	box-shadow: 0 -2px 10px 0;

	& a {
		color: black;
		white-space: nowrap;

		&:hover {
			opacity: 0.7;
			text-decoration: none;
		}
	}

	& .nav {
		display: grid;
		justify-items: center;
		align-items: center;
	}
}

@include media('>=large') {
	.nav-primary {
		grid-template-columns: 200px minmax(auto, 100%) auto;
		grid-template-areas: 'brand nav search';

		& .nav {
			width: 100%;
			height: 100%;
			grid-area: nav;
			justify-content: left;
			grid-auto-flow: column;
			grid-auto-columns: minmax(auto, 200px);

			& li {
				display: grid;
				height: 100%;
				width: 100%;
				grid: 1fr / 1fr;

				& a {
					padding: 0 15px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		& .hamburger-label {
			visibility: hidden;
		}
	}
}

@include media('<large') {
	.nav-primary {
		grid-template-columns: 200px minmax(auto, 100%) auto;
		grid-template-areas: 'brand . hamburger';

		@include media('<small') {
			grid-template-columns: 200px minmax(auto, 100%) auto;
			grid-template-areas: 'brand . hamburger';
		}

		& .nav {
			position: fixed;
			top: $nav-height;
			right: -100%;
			visibility: visible;
			grid-auto-flow: row;
			grid-auto-rows: $nav-height;
			grid-template-columns: minmax(200px, 50vw);
			background-color: var(--primary-color);
			border-bottom-left-radius: 10px;
			transition: right 1s ease-out;

			@include media('<small') {
				right: -100vw;
				grid-template-columns: 100vw;
				border-bottom-left-radius: 0;
			}

			&.is-active {
				right: 0;
			}

			& li {
				border-top-width: 2px;
				border-top-color: rgba($color: #fff, $alpha: 0.1);
				border-top-style: solid;
				display: grid;
				height: 100%;
				width: 100%;
				grid: 1fr / 1fr;

				& a {
					display: flex;
					justify-content: center;
					align-items: center;
					fill-opacity: 0.7;
				}
			}
		}

		& .hamburger-label {
			display: flex;
			justify-content: center;
			align-items: center;
			grid-area: hamburger;
			padding: 0 10px;

			&:hover {
				opacity: 0.7;
			}

			& .hamburger {
				display: flex;
				align-content: center;
				margin-right: 10px;
			}
		}
	}
}
