/**
 * Home
 */

/**
 * Style
 */
.homepage-content {
	.hero {
		// position
		width: 100%;
		min-height: 100vh;
		max-height: auto;
	}
	.content {
		background-color: white;
	}
	.tri-content {
		margin-bottom: 20px;
	}
}
