/**
 * Home
 */

/**
 * Style
 */
.homepage-content {
	.hero{
		// position
		width: 100%;
		min-height: 100vh;
		max-height: auto;
	}
	.temporary-surface {
		height: 500vh;
		width: 100%;
		background-color: white;
	}
}
