/**
 * Global
 */

* {
	font-family: "Bronova", $font-family-sans-serif;
	transition: all 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bronova Bold", $font-family-sans-serif;
}

h1 {
	margin: 0.5em 0;
	font-size: 56px;

	@include media("<medium") {
		font-size: 38px;
	}
}

h2 {
	font-size: 48px;

	@include media("<medium") {
		font-size: 30px;
	}

	@include media("<x-small") {
		font-size: 20px;
	}
}

p {
	margin: 1em 0;
}

body {
	font-size: 22px;

	@include media("<medium") {
		font-size: 16px;
	}
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

li {
	display: block;
}

a {
	color: map-get($theme-colors, 'secondary');
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

a:visited {
	color: map-get($theme-colors, 'dark-secondary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
	.has-#{$color-name}-color {
		color: $color-value;
	}

	.has-#{$color-name}-background-color {
		background-color: $color-value;
	}
}
