/**
 * Variables
 */

/**
 * Nav/Header Height
 */
$nav-height: 50px;

/**
 * Color palette
 */

$theme-colors: (
	primary: var(--primary-color),
	secondary: var(--secondary-color),
	dark-primary: var(--dark-primary-color),
	light-primary: var(--light-primary-color),
	dark-secondary: var(--dark-secondary-color),
	light-secondary: var(--light-secondary-color),
	primary-accent: var(--primary-accent-color),
	primary-accent-alternate: var(--primary-accent-alternate-color),
	secondary-accent: var(--secondary-accent-color),
	secondary-accent-alternate: var(--secondary-accent-alternate-color)
);

/**
 * Style colors
 */

$label_rgb: (210 210 210);
$label_color: rgb($label_rgb);

/**
 * Breakpoints
 */

$breakpoints: (
	'x-small': 400px,
	'small': 576px,
	'medium': 768px,
	'large': 992px,
	'x-large': 1200px
);

/**
 * Hamburger settings
 */

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;

@font-face {
	font-family: "Bronova";
	src: url("../fonts/Bronova Regular.woff");
	font-display: fallback;
}

@font-face {
	font-family: "Bronova Bold";
	src: url("../fonts/Bronova Bold.woff");
	font-display: fallback;
}

/**
 * Native font stack (borrowed from bootstrap)
 */

$font-family-sans-serif:
	// Safari for macOS and iOS (San Francisco)
	-apple-system,
	// Chrome < 56 for macOS (San Francisco)
	BlinkMacSystemFont,
	// Windows
	"Segoe UI",
	// Android
	"Roboto",
	// Basic web fallback
	"Helvetica Neue", Arial, sans-serif,
	// Emoji fonts
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
